.contentContainer {
  min-height: 60vh;
  // display: flex;
}

.content {
  align-content: space-around;
  border-bottom: 1px solid black;
  padding: 20px 0;
  // border-left: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 40vh;
  // width: 50vw;

  h2 {
    font-family: "Mondwest";
    font-size: 64px;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100vw;
  }

  a {
    border-bottom: 5px solid black;
    border-left: 1px solid black;
    border-radius: 4px;
    border-right: 5px solid black;
    border-top: 1px solid black;
    box-sizing: border-box;
    color: #000;
    display: block;
    font-family: "NeueMachina";
    font-size: 48px;
    font-weight: 700;
    padding: 10px 10px 2px 10px;
    margin: 10px;
    text-decoration: none;
  }

  a:hover {
    animation-name: buttonPush;
    animation-duration: 0.15s;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}

.aboutLanding {
  background-image: linear-gradient(#96a4ff, #864ed9);
  width: 100%;
  margin: 10px;
  height: 30vh;
  border-radius: 4px;
  font-family: "NeueMachina";
  font-size: 24px;

  p {
    font-weight: 200;
  }

  a {
    width: fit-content;
    font-size: 24px;
  }
}

@keyframes buttonPush {
  from {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }

  to {
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}
