.contentContainer {
  min-height: 60vh;
  // display: flex;
}

.content {
  overflow: hidden;
  align-content: center;
  // border-bottom: 1px solid var(--main-text-color);
  padding: 10px;
  background-image: linear-gradient(#e8ffde, #def0ff);
  // border-left: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;

  // display: grid;
  // grid-template-columns: repeat(2, 50vw);
  // grid-template-rows: fit-content fit-content;
  // row-gap: 10px;
  min-height: 30vh;
  margin: 0 auto;

  h2 {
    font-family: var(--header-font);
    font-size: 76px;
    font-weight: 700;
    margin: 20px 20px 10px 20px;
    text-align: center;
    grid-column: 1 / 3;
    color: var(--main-text-color);
    // color: var(--main-bg-color);
  }

  p {
    font-weight: 400;
    line-height: 1.2;
    margin: 50px;
    text-align: center;
    font-family: var(--body-font);
    font-size: 20px;
  }

  // .buttons2 a {
  //   width: 45%;
  // }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  margin: 0 0 20px 0;
  // grid-column: 1/3;
  // grid-row: 2 /3;

  a {
    // background-color: var(--main-bg-color);
    background-image: linear-gradient(#fff, #ededed);
    border-bottom: 5px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
    border-radius: 4px;
    border-right: 5px solid var(--main-text-color);
    border-top: 1px solid var(--main-text-color);
    box-sizing: border-box;
    color: var(--main-text-color);
    display: block;
    font-family: var(--body-font);
    font-size: 48px;
    font-weight: 700;
    padding: 10px 10px 2px 10px;
    margin: 10px;
    text-decoration: none;
    width: fit-content;
    text-align: center;
  }

  a:hover {
    animation-name: buttonPush;
    animation-duration: 0.15s;
    color: var(--hover-color);
    border-left: 5px solid var(--hover-color);
    border-top: 5px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
    border-right: 1px solid var(--hover-color);
  }
}

.aboutLanding {
  // background-image: linear-gradient(#f78e4d, #864ed9);
  // background-color: #fff;
  margin: 10px;
  // height: fit-content;
  border-radius: 4px;
  font-family: var(--body-font);
  font-size: 20px;
  color: var(--main-text-color);
  border: 1px solid;
  border-color: var(--main-text-color);
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 1 /2;
  box-sizing: border-box;
  // background-color: var(--main-bg-color);
  background-image: linear-gradient(#fff, #ededed);
  width: 100%;

  span {
    font-weight: 700;
    text-decoration: underline;
  }
}

.contentHead {
  display: flex;
  margin: 20px auto 0 auto;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  width: 40px;
}

.bar {
  border-bottom: 1px solid var(--main-text-color);
  height: 20px;
  display: flex;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--main-text-color);
  border-radius: 5px;
  margin: 5px 0 5px 5px;
}

@keyframes buttonPush {
  from {
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 5px solid;
    border-right: 5px solid;
  }

  to {
    border-left: 5px solid;
    border-top: 5px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
  }
}

.galleryPosts {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  img {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
  }
}

// .keyboard {
//   grid-column: 2 /3;
//   // background-color: var(--main-bg-color);
//   background-image: linear-gradient(#fff, #ededed);
//   grid-row: 1/ 2;
//   display: grid;
//   grid-template-columns: repeat(8, 5.5vw);
//   grid-template-rows: repeat(3, 5.5vw);
//   column-gap: 0.25vw;
//   row-gap: 0.25vw;
//   border-left: 1px solid;
//   border-top: 1px solid;
//   border-bottom: 5px solid;
//   border-right: 5px solid;
//   border-radius: 5px;
//   border-color: var(--main-text-color);
//   padding: 10px;
//   height: fit-content;
//   align-self: center;
//   width: fit-content;
//   margin: 0 10px 0 auto;
// }

// .key a {
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   font-weight: 200;
//   font-size: 24px;
//   text-align: left;
//   // background-color: var(--main-bg-color);
//   background-image: linear-gradient(#fff, #ededed);
// }

// .key2 {
//   grid-column: 1/ 3;
// }

// .key3 {
//   grid-column: 7/ 9;
// }

// .space {
//   grid-column: 3 / 7;

//   a {
//     font-weight: 700;
//   }
// }

// @media screen and (max-width: 1150px) {
//   .content {
//     grid-template-columns: repeat(2, fit-content);
//     grid-template-rows: repeat(3, fit-content);
//   }

//   .keyboard {
//     grid-column: 1 /2;
//     grid-row: 2 / 3;
//     margin: 0 auto 0 10px;
//   }

//   .content .buttons2 {
//     grid-column: 2 / 3;
//     grid-row: 2 /3;
//   }

//   .aboutLanding {
//     grid-column: 1 / 3;
//     height: 300px;

//     p {
//       font-size: 24px;
//     }
//   }
// }

// @media screen and (max-width: 980px) {
//   .keyboard {
//     grid-column: 1 / 3;
//     grid-row: 3 / 4;
//     grid-template-columns: repeat(8, 10.5vw);
//     grid-template-rows: repeat(3, 10.5vw);
//     column-gap: 1vw;
//     row-gap: 1vw;
//     margin: 0 auto;
//   }
//   .keyboard a {
//     font-size: 32px;
//   }
//   .content .buttons2 {
//     grid-column: 1 / 3;
//     grid-row: 1 / 2;
//   }

//   .aboutLanding {
//     grid-row: 2/3;
//   }
// }

// @media screen and (max-width: 600px) {
//   .keyboard a {
//     font-size: 16px;
//   }
// }

.galleryImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
  border: 1px solid black;
  margin: 10px;
}

.image:hover {
  transform: scale(110%);
  animation-name: imageSizeUp;
  animation-duration: 0.25s;
  border: 1px solid blue;
}

//contact curator
.contactCurator {
  margin: 20px;
}
.textInput {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0;

  label {
    margin: 10px 0;
    display: block;
  }

  input {
    width: inherit;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 5px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
    border-radius: 4px;
    border-right: 5px solid var(--main-text-color);
    border-top: 1px solid var(--main-text-color);
    font-family: var(--body-font);
    font-size: inherit;
    box-sizing: border-box;
  }

  textarea {
    width: inherit;
    box-sizing: border-box;
    resize: none;
    padding: 10px;
    border-bottom: 5px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
    border-radius: 4px;
    border-right: 5px solid var(--main-text-color);
    border-top: 1px solid var(--main-text-color);
    font-family: var(--body-font);
    font-size: inherit;
  }

  input:focus {
    outline: none;
    border-left: 5px solid var(--hover-color);
    border-top: 5px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
    border-right: 1px solid var(--hover-color);
    animation-name: buttonPush;
    animation-duration: 0.15s;
  }

  textarea:focus {
    outline: none;
    border-left: 5px solid var(--hover-color);
    border-top: 5px solid var(--hover-color);
    border-bottom: 1px solid var(--hover-color);
    border-right: 1px solid var(--hover-color);
    animation-name: buttonPush;
    animation-duration: 0.15s;
  }
}

@keyframes imageSizeUp {
  from {
    transform: scale(100%);
    border: 1px solid black;
  }

  to {
    transform: scale(110%);
    border: 1px solid blue;
  }
}

@media all and (max-width: 500px) {
  .content h2 {
    font-size: 48px;
  }

  .contentHead .icon {
    width: 25px;
  }

  .buttons a {
    font-size: 30px;
  }

  .site_nav ul a {
    font-size: 14px;
    margin: 10px;
  }

  .aboutLanding {
    font-size: 16px;
  }

  .container .site_footer {
    grid-template-columns: 1fr;
    font-size: 14px;

    ul {
      margin: 20px;
    }
  }

  .title a {
    font-size: 70px;
  }
}

@media all and (max-width: 950px) {
  .galleryPosts {
    width: 100%;
  }
}
