.covid {
  background-color: #000;
  padding: 10px 10px 7px 10px;
  display: flex;
  justify-content: space-around;

  p {
    color: var(--main-bg-color);
    font-family: "NeueMachina";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-self: center;
    width: fit-content;
  }

  a {
    color: #fff;
  }

  img {
    width: 25px;
    height: 25px;
    align-self: center;
  }
}
