.covid {
  background-color: #000;
  padding: 10px 10px 7px 10px;

  p {
    color: var(--main-bg-color);
    font-family: "NeueMachina";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}
