.covid {
  // background-color: #a3e39f;
  background-image: linear-gradient(#fff, #ededed);
  // padding: 10px 10px 7px 10px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  p {
    color: var(--main-text-color);
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    align-self: center;
    width: 100vw;
    position: relative;
    top: 1px;
    margin: 10px;
  }

  a {
    color: var(--main-text-color);
  }

  img {
    width: 25px;
    height: 25px;
    align-self: center;
    position: relative;
    bottom: 2px;
    margin: 0 20px;
  }
}
