@font-face {
  font-family: "Mondwest";
  src: url("/assets/fonts/Mondwest-Bold.woff2") format("woff2");
  src: url("/assets/fonts/Mondwest-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Supply";
  src: url("/assets/fonts/Supply-Regular.woff2") format("woff2");
  src: url("/assets/fonts/Supply-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/assets/fonts/NeueMachina-Ultrabold.woff2") format("woff2");
  src: url("/assets/fonts/NeueMachina-Ultrabold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/assets/fonts/NeueMachina-Ultralight.woff2") format("woff2");
  src: url("/assets/fonts/NeueMachina-Ultralight.woff") format("woff");
  font-weight: 200;
}

@font-face {
  font-family: "NeueMachina";
  src: url("/assets/fonts/NeueMachina-Light.woff2") format("woff2");
  src: url("/assets/fonts/NeueMachina-Light.woff") format("woff");
  font-weight: 300;
}
