.site_footer {
  color: white;
  background-color: black;
  display: grid;
  grid-template-columns: 180px 110px 180px;
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 200;
  min-height: 20vh;
  justify-content: space-around;
  padding: 20px 0;

  // ul {
  //   // align-self: center;
  // }

  a {
    color: white;
    text-decoration: none;
  }

  li {
    padding: 10px;
    margin: 10px;
  }
}
