.container header {
  background-color: #000;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  // height: 90vh;
}

.title a {
  // color: var(--main-text-color);
  display: block;
  font-family: var(--header-font);
  // font-size: 15vw;
  font-size: 90px;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  width: fit-content;
  color: #fff;
  // color: var(--main-bg-color);
}

.site_nav {
  // align-self: center;
  display: flex;
  justify-content: space-between;
  // margin: 0 auto;
  width: 100%;
  // width: fit-content;

  a {
    color: var(--main-text-color);
    // color: var(--main-bg-color);
    display: block;
    font-family: var(--body-font);
    font-size: 24px;
    font-weight: 400;
    margin: 10px 20px;
    padding: 10px 10px 6px 10px;
    text-decoration: none;
    color: #fff;
  }

  [aria-current] {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    // font-weight: 700;
  }
}

// @media screen and (min-width: 1200px) {
//   .site_nav {
//     width: fit-content;
//     align-self: center;
//     display: block;
//     text-align: right;
//   }
// } ;
